{% extends 'base.html' %}
{% block title %} Forgot password {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if request.GET.m == "s" %}
                    <h5>Ссылка для сброса пароля будет отправлена на ваш адрес электронной почты. Пожалуйста, проверьте свою электронную почту. </h5>
                {% else %}
                <h5>Введите email для восстановления пароля</h5>
                {% if request.GET.m == "e" %}
                    <h4 class="text-danger">Что-то пошло не так, введите адрес электронной почты еще раз.</h4>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{  form.as_p }}
                    <button>Восстановить</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}